{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  com.taoensso/nippy {:mvn/version "3.3.0"}
  techascent/tech.io {:mvn/version "4.31"}
  com.techascent/tmducken {:mvn/version "0.10.0-2"}
  org.pinkgorilla/modular {:mvn/version "0.2.56"}
  ta/helper {:local/root "../helper" :deps/manifest :deps}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :performance-test {:extra-paths ["test"]
                     :exec-fn ta.performance/performance-test
                     :exec-args {}}

  :print-list {:extra-paths ["test"]
               :main-opts ["-m" "repl.experiment"]}

  :victor-print {:extra-paths ["test"]
                 :exec-fn repl.experiment/fn-print-symbol-list
                 :exec-args {:name "equity-region"}}}}
