{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  medley/medley          {:mvn/version "1.4.0"}  ; lightweight pure functions that are "missing" from clojure.core.
  net.cgrand/xforms      {:mvn/version "0.19.2"} ; transducers for timeseries (ema sma)
  ;org.clojure/algo.generic {:mvn/version "0.1.3"} ; ???
  missionary/missionary {:mvn/version "b.40"} ; reactive framework.
  ; quanta-studio uses docs.
  org.pinkgorilla/goldly-docs {:mvn/version "0.9.71"}
  org.pinkgorilla/docy {:mvn/version "0.0.10"}
  commonmark-hiccup/commonmark-hiccup {:mvn/version "0.3.0"} ; markdown to hiccup
  ;; QUANTA LIBS
  io.github.clojure-quant/quanta {:mvn/version "0.4.899"}
  io.github.clojure-quant/vector-math {:git/url "https://github.com/clojure-quant/techml.vector-math.git"
                                       :sha "1d6e5d0ef3eba53e2afddb5ca0927385a9f62ece"}
  io.github.clojure-quant/quanta-market {:mvn/version "0.1.156"}
  io.github.clojure-quant/quanta-bar-warehouse {:mvn/version "0.1.37"}
  io.github.clojure-quant/quanta-dag-algo {:mvn/version "0.2.23"}
  io.github.clojure-quant/quanta-trade {:mvn/version "0.1.67"}

  ;; used by quanta-studio
  potemkin/potemkin {:mvn/version "0.4.7"} ; api namespace consolidation.
  nano-id/nano-id {:mvn/version "1.1.0"}
  tick/tick {:mvn/version "0.6.2"}
  babashka/fs {:mvn/version "0.5.22"}
  org.pinkgorilla/extension {:mvn/version "0.0.14"}
  org.pinkgorilla/clj-service {:mvn/version "0.3.20"}
  com.taoensso/telemere {:mvn/version "1.0.0-beta25"}
  org.pinkgorilla/timbre {:mvn/version "0.0.7"}
  io.github.clojure-quant/telegram {:mvn/version "0.2.22"}}

 :aliases
 {; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main"
               "--indents" "cljfmt.edn"
               "check"
               "./src"
               "./dev-plot/src"
               "./dev/src"
               ]}

  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main"
               "--indents" "cljfmt.edn"
               "fix"
               "./src"
               "./dev-plot/src"
               "./dev/src"
               ]}

; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.03.13"}}
   :main-opts ["-m" "clj-kondo.main"
               "--config" "cljkondo.edn"
               "--fail-level" "error"
               "--lint"
               "./src"
               "./dev-plot/src"
               ]}

  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m" "clj-check.check"]}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
                 io.github.seancorfield/build-clj {:git/tag "v0.5.4" :git/sha "bc9c0cc"}}
          :ns-default build}
;
  }}
