{:log
 [{:path [],
   :lib org.clojure/clojure,
   :coord {:mvn/version "1.11.3", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.11.3"},
   :coord-id {:mvn/version "1.11.3"},
   :include true,
   :reason :new-top-dep}
  {:path [],
   :lib aleph/aleph,
   :coord {:mvn/version "0.8.1", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.8.1"},
   :coord-id {:mvn/version "0.8.1"},
   :include true,
   :reason :new-top-dep}
  {:path [org.clojure/clojure],
   :lib org.clojure/spec.alpha,
   :coord {:mvn/version "0.3.218", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.3.218"},
   :coord-id {:mvn/version "0.3.218"},
   :include true,
   :reason :new-dep}
  {:path [org.clojure/clojure],
   :lib org.clojure/core.specs.alpha,
   :coord {:mvn/version "0.2.62", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.2.62"},
   :coord-id {:mvn/version "0.2.62"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib org.clojure/clojure,
   :coord {:mvn/version "1.11.3", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.11.3"},
   :coord-id {:mvn/version "1.11.3"},
   :include false,
   :reason :use-top}
  {:path [aleph/aleph],
   :lib org.clojure/tools.logging,
   :coord
   {:mvn/version "1.3.0",
    :exclusions #{org.clojure/clojure},
    :deps/manifest :mvn},
   :orig-coord
   {:mvn/version "1.3.0", :exclusions #{org.clojure/clojure}},
   :coord-id {:mvn/version "1.3.0"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib manifold/manifold,
   :coord
   {:mvn/version "0.4.3",
    :exclusions #{org.clojure/tools.logging},
    :deps/manifest :mvn},
   :orig-coord
   {:mvn/version "0.4.3", :exclusions #{org.clojure/tools.logging}},
   :coord-id {:mvn/version "0.4.3"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib org.clj-commons/byte-streams,
   :coord {:mvn/version "0.3.4", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.3.4"},
   :coord-id {:mvn/version "0.3.4"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib org.clj-commons/dirigiste,
   :coord {:mvn/version "1.0.4", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.0.4"},
   :coord-id {:mvn/version "1.0.4"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib org.clj-commons/primitive-math,
   :coord {:mvn/version "1.0.1", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.0.1"},
   :coord-id {:mvn/version "1.0.1"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib potemkin/potemkin,
   :coord {:mvn/version "0.4.7", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.4.7"},
   :coord-id {:mvn/version "0.4.7"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-transport,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-transport-native-epoll$linux-x86_64,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-transport-native-epoll$linux-aarch_64,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-transport-native-kqueue$osx-x86_64,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib
   io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64,
   :coord {:mvn/version "0.0.25.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.0.25.Final"},
   :coord-id {:mvn/version "0.0.25.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib
   io.netty.incubator/netty-incubator-transport-native-io_uring$linux-aarch_64,
   :coord {:mvn/version "0.0.25.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.0.25.Final"},
   :coord-id {:mvn/version "0.0.25.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-codec,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-codec-http,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-codec-http2,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-handler,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-handler-proxy,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-resolver,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib io.netty/netty-resolver-dns,
   :coord {:mvn/version "4.1.111.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.111.Final"},
   :coord-id {:mvn/version "4.1.111.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph],
   :lib metosin/malli,
   :coord
   {:mvn/version "0.16.1",
    :exclusions #{org.clojure/clojure},
    :deps/manifest :mvn},
   :orig-coord
   {:mvn/version "0.16.1", :exclusions #{org.clojure/clojure}},
   :coord-id {:mvn/version "0.16.1"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph manifold/manifold],
   :lib org.clj-commons/dirigiste,
   :coord {:mvn/version "1.0.4", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.0.4"},
   :coord-id {:mvn/version "1.0.4"},
   :include false,
   :reason :same-version}
  {:path [aleph/aleph manifold/manifold],
   :lib org.clj-commons/primitive-math,
   :coord {:mvn/version "1.0.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.0.0"},
   :coord-id {:mvn/version "1.0.0"},
   :include false,
   :reason :older-version}
  {:path [aleph/aleph manifold/manifold],
   :lib riddley/riddley,
   :coord {:mvn/version "0.2.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.2.0"},
   :coord-id {:mvn/version "0.2.0"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph manifold/manifold],
   :lib potemkin/potemkin,
   :coord {:mvn/version "0.4.6", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.4.6"},
   :coord-id {:mvn/version "0.4.6"},
   :include false,
   :reason :older-version}
  {:path [aleph/aleph org.clj-commons/byte-streams],
   :lib org.clj-commons/primitive-math,
   :coord {:mvn/version "1.0.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.0.0"},
   :coord-id {:mvn/version "1.0.0"},
   :include false,
   :reason :older-version}
  {:path [aleph/aleph org.clj-commons/byte-streams],
   :lib manifold/manifold,
   :coord {:mvn/version "0.3.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.3.0"},
   :coord-id {:mvn/version "0.3.0"},
   :include false,
   :reason :older-version}
  {:path [aleph/aleph org.clj-commons/byte-streams],
   :lib potemkin/potemkin,
   :coord {:mvn/version "0.4.6", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.4.6"},
   :coord-id {:mvn/version "0.4.6"},
   :include false,
   :reason :older-version}
  {:path [aleph/aleph potemkin/potemkin],
   :lib riddley/riddley,
   :coord {:mvn/version "0.1.12", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.1.12"},
   :coord-id {:mvn/version "0.1.12"},
   :include false,
   :reason :older-version}
  {:path
   [aleph/aleph
    io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64],
   :lib io.netty.incubator/netty-incubator-transport-classes-io_uring,
   :coord {:mvn/version "0.0.25.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.0.25.Final"},
   :coord-id {:mvn/version "0.0.25.Final"},
   :include true,
   :reason :new-dep}
  {:path
   [aleph/aleph
    io.netty.incubator/netty-incubator-transport-native-io_uring$linux-aarch_64],
   :lib io.netty.incubator/netty-incubator-transport-classes-io_uring,
   :coord {:mvn/version "0.0.25.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.0.25.Final"},
   :coord-id {:mvn/version "0.0.25.Final"},
   :include false,
   :reason :same-version}
  {:path [aleph/aleph metosin/malli],
   :lib fipp/fipp,
   :coord {:mvn/version "0.6.26", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.6.26"},
   :coord-id {:mvn/version "0.6.26"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph metosin/malli],
   :lib mvxcvi/arrangement,
   :coord {:mvn/version "2.1.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "2.1.0"},
   :coord-id {:mvn/version "2.1.0"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph metosin/malli],
   :lib borkdude/dynaload,
   :coord {:mvn/version "0.3.5", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.3.5"},
   :coord-id {:mvn/version "0.3.5"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph metosin/malli],
   :lib borkdude/edamame,
   :coord {:mvn/version "1.4.25", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.4.25"},
   :coord-id {:mvn/version "1.4.25"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph metosin/malli],
   :lib org.clojure/test.check,
   :coord {:mvn/version "1.1.1", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.1.1"},
   :coord-id {:mvn/version "1.1.1"},
   :include true,
   :reason :new-dep}
  {:path
   [aleph/aleph
    io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64
    io.netty.incubator/netty-incubator-transport-classes-io_uring],
   :lib io.netty/netty-common,
   :coord {:mvn/version "4.1.107.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.107.Final"},
   :coord-id {:mvn/version "4.1.107.Final"},
   :include true,
   :reason :new-dep}
  {:path
   [aleph/aleph
    io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64
    io.netty.incubator/netty-incubator-transport-classes-io_uring],
   :lib io.netty/netty-buffer,
   :coord {:mvn/version "4.1.107.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.107.Final"},
   :coord-id {:mvn/version "4.1.107.Final"},
   :include true,
   :reason :new-dep}
  {:path
   [aleph/aleph
    io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64
    io.netty.incubator/netty-incubator-transport-classes-io_uring],
   :lib io.netty/netty-transport,
   :coord {:mvn/version "4.1.107.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.107.Final"},
   :coord-id {:mvn/version "4.1.107.Final"},
   :include false,
   :reason :older-version}
  {:path
   [aleph/aleph
    io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64
    io.netty.incubator/netty-incubator-transport-classes-io_uring],
   :lib io.netty/netty-transport-native-unix-common,
   :coord {:mvn/version "4.1.107.Final", :deps/manifest :mvn},
   :orig-coord {:mvn/version "4.1.107.Final"},
   :coord-id {:mvn/version "4.1.107.Final"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph metosin/malli fipp/fipp],
   :lib org.clojure/clojure,
   :coord {:mvn/version "1.8.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.8.0"},
   :coord-id {:mvn/version "1.8.0"},
   :include false,
   :reason :excluded}
  {:path [aleph/aleph metosin/malli fipp/fipp],
   :lib org.clojure/core.rrb-vector,
   :coord {:mvn/version "0.1.2", :deps/manifest :mvn},
   :orig-coord {:mvn/version "0.1.2"},
   :coord-id {:mvn/version "0.1.2"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph metosin/malli borkdude/dynaload],
   :lib org.clojure/clojure,
   :coord {:mvn/version "1.9.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.9.0"},
   :coord-id {:mvn/version "1.9.0"},
   :include false,
   :reason :excluded}
  {:path [aleph/aleph metosin/malli borkdude/edamame],
   :lib org.clojure/clojure,
   :coord {:mvn/version "1.9.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.9.0"},
   :coord-id {:mvn/version "1.9.0"},
   :include false,
   :reason :excluded}
  {:path [aleph/aleph metosin/malli borkdude/edamame],
   :lib org.clojure/tools.reader,
   :coord {:mvn/version "1.3.4", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.3.4"},
   :coord-id {:mvn/version "1.3.4"},
   :include true,
   :reason :new-dep}
  {:path [aleph/aleph metosin/malli org.clojure/test.check],
   :lib org.clojure/clojure,
   :coord {:mvn/version "1.9.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.9.0"},
   :coord-id {:mvn/version "1.9.0"},
   :include false,
   :reason :excluded}
  {:path
   [aleph/aleph metosin/malli fipp/fipp org.clojure/core.rrb-vector],
   :lib org.clojure/clojure,
   :coord {:mvn/version "1.6.0", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.6.0"},
   :coord-id {:mvn/version "1.6.0"},
   :include false,
   :reason :excluded}
  {:path
   [aleph/aleph
    metosin/malli
    borkdude/edamame
    org.clojure/tools.reader],
   :lib org.clojure/clojure,
   :coord {:mvn/version "1.5.1", :deps/manifest :mvn},
   :orig-coord {:mvn/version "1.5.1"},
   :coord-id {:mvn/version "1.5.1"},
   :include false,
   :reason :excluded}],
 :vmap
 {org.clojure/clojure
  {:versions
   {{:mvn/version "1.11.3"}
    {:mvn/version "1.11.3", :deps/manifest :mvn}},
   :paths {{:mvn/version "1.11.3"} #{[]}},
   :select {:mvn/version "1.11.3"},
   :top true},
  org.clojure/tools.logging
  {:versions
   {{:mvn/version "1.3.0"}
    {:mvn/version "1.3.0",
     :exclusions #{org.clojure/clojure},
     :deps/manifest :mvn}},
   :paths {{:mvn/version "1.3.0"} #{[aleph/aleph]}},
   :select {:mvn/version "1.3.0"}},
  org.clojure/core.specs.alpha
  {:versions
   {{:mvn/version "0.2.62"}
    {:mvn/version "0.2.62", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.2.62"} #{[org.clojure/clojure]}},
   :select {:mvn/version "0.2.62"}},
  io.netty/netty-common
  {:versions
   {{:mvn/version "4.1.107.Final"}
    {:mvn/version "4.1.107.Final", :deps/manifest :mvn}},
   :paths
   {{:mvn/version "4.1.107.Final"}
    #{[aleph/aleph
       io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64
       io.netty.incubator/netty-incubator-transport-classes-io_uring]}},
   :select {:mvn/version "4.1.107.Final"}},
  org.clojure/spec.alpha
  {:versions
   {{:mvn/version "0.3.218"}
    {:mvn/version "0.3.218", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.3.218"} #{[org.clojure/clojure]}},
   :select {:mvn/version "0.3.218"}},
  io.netty.incubator/netty-incubator-transport-classes-io_uring
  {:versions
   {{:mvn/version "0.0.25.Final"}
    {:mvn/version "0.0.25.Final", :deps/manifest :mvn}},
   :paths
   {{:mvn/version "0.0.25.Final"}
    #{[aleph/aleph
       io.netty.incubator/netty-incubator-transport-native-io_uring$linux-aarch_64]
      [aleph/aleph
       io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64]}},
   :select {:mvn/version "0.0.25.Final"}},
  io.netty/netty-transport-native-kqueue$osx-x86_64
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  io.netty.incubator/netty-incubator-transport-native-io_uring$linux-aarch_64
  {:versions
   {{:mvn/version "0.0.25.Final"}
    {:mvn/version "0.0.25.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.0.25.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "0.0.25.Final"}},
  io.netty/netty-handler-proxy
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  manifold/manifold
  {:versions
   {{:mvn/version "0.4.3"}
    {:mvn/version "0.4.3",
     :exclusions #{org.clojure/tools.logging},
     :deps/manifest :mvn}},
   :paths {{:mvn/version "0.4.3"} #{[aleph/aleph]}},
   :select {:mvn/version "0.4.3"}},
  io.netty/netty-codec-http2
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  io.netty/netty-codec
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  io.netty/netty-transport-native-epoll$linux-aarch_64
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  org.clj-commons/dirigiste
  {:versions
   {{:mvn/version "1.0.4"}
    {:mvn/version "1.0.4", :deps/manifest :mvn}},
   :paths
   {{:mvn/version "1.0.4"}
    #{[aleph/aleph] [aleph/aleph manifold/manifold]}},
   :select {:mvn/version "1.0.4"}},
  io.netty/netty-buffer
  {:versions
   {{:mvn/version "4.1.107.Final"}
    {:mvn/version "4.1.107.Final", :deps/manifest :mvn}},
   :paths
   {{:mvn/version "4.1.107.Final"}
    #{[aleph/aleph
       io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64
       io.netty.incubator/netty-incubator-transport-classes-io_uring]}},
   :select {:mvn/version "4.1.107.Final"}},
  io.netty/netty-handler
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  fipp/fipp
  {:versions
   {{:mvn/version "0.6.26"}
    {:mvn/version "0.6.26", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.6.26"} #{[aleph/aleph metosin/malli]}},
   :select {:mvn/version "0.6.26"}},
  aleph/aleph
  {:versions
   {{:mvn/version "0.8.1"}
    {:mvn/version "0.8.1", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.8.1"} #{[]}},
   :select {:mvn/version "0.8.1"},
   :top true},
  mvxcvi/arrangement
  {:versions
   {{:mvn/version "2.1.0"}
    {:mvn/version "2.1.0", :deps/manifest :mvn}},
   :paths {{:mvn/version "2.1.0"} #{[aleph/aleph metosin/malli]}},
   :select {:mvn/version "2.1.0"}},
  riddley/riddley
  {:versions
   {{:mvn/version "0.2.0"}
    {:mvn/version "0.2.0", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.2.0"} #{[aleph/aleph manifold/manifold]}},
   :select {:mvn/version "0.2.0"}},
  org.clj-commons/primitive-math
  {:versions
   {{:mvn/version "1.0.1"}
    {:mvn/version "1.0.1", :deps/manifest :mvn}},
   :paths {{:mvn/version "1.0.1"} #{[aleph/aleph]}},
   :select {:mvn/version "1.0.1"}},
  io.netty/netty-transport-native-epoll$linux-x86_64
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  borkdude/dynaload
  {:versions
   {{:mvn/version "0.3.5"}
    {:mvn/version "0.3.5", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.3.5"} #{[aleph/aleph metosin/malli]}},
   :select {:mvn/version "0.3.5"}},
  borkdude/edamame
  {:versions
   {{:mvn/version "1.4.25"}
    {:mvn/version "1.4.25", :deps/manifest :mvn}},
   :paths {{:mvn/version "1.4.25"} #{[aleph/aleph metosin/malli]}},
   :select {:mvn/version "1.4.25"}},
  metosin/malli
  {:versions
   {{:mvn/version "0.16.1"}
    {:mvn/version "0.16.1",
     :exclusions #{org.clojure/clojure},
     :deps/manifest :mvn}},
   :paths {{:mvn/version "0.16.1"} #{[aleph/aleph]}},
   :select {:mvn/version "0.16.1"}},
  io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64
  {:versions
   {{:mvn/version "0.0.25.Final"}
    {:mvn/version "0.0.25.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.0.25.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "0.0.25.Final"}},
  io.netty/netty-transport
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  org.clj-commons/byte-streams
  {:versions
   {{:mvn/version "0.3.4"}
    {:mvn/version "0.3.4", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.3.4"} #{[aleph/aleph]}},
   :select {:mvn/version "0.3.4"}},
  io.netty/netty-transport-native-unix-common
  {:versions
   {{:mvn/version "4.1.107.Final"}
    {:mvn/version "4.1.107.Final", :deps/manifest :mvn}},
   :paths
   {{:mvn/version "4.1.107.Final"}
    #{[aleph/aleph
       io.netty.incubator/netty-incubator-transport-native-io_uring$linux-x86_64
       io.netty.incubator/netty-incubator-transport-classes-io_uring]}},
   :select {:mvn/version "4.1.107.Final"}},
  io.netty/netty-codec-http
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  org.clojure/core.rrb-vector
  {:versions
   {{:mvn/version "0.1.2"}
    {:mvn/version "0.1.2", :deps/manifest :mvn}},
   :paths
   {{:mvn/version "0.1.2"} #{[aleph/aleph metosin/malli fipp/fipp]}},
   :select {:mvn/version "0.1.2"}},
  org.clojure/tools.reader
  {:versions
   {{:mvn/version "1.3.4"}
    {:mvn/version "1.3.4", :deps/manifest :mvn}},
   :paths
   {{:mvn/version "1.3.4"}
    #{[aleph/aleph metosin/malli borkdude/edamame]}},
   :select {:mvn/version "1.3.4"}},
  potemkin/potemkin
  {:versions
   {{:mvn/version "0.4.7"}
    {:mvn/version "0.4.7", :deps/manifest :mvn}},
   :paths {{:mvn/version "0.4.7"} #{[aleph/aleph]}},
   :select {:mvn/version "0.4.7"}},
  io.netty/netty-resolver
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}},
  org.clojure/test.check
  {:versions
   {{:mvn/version "1.1.1"}
    {:mvn/version "1.1.1", :deps/manifest :mvn}},
   :paths {{:mvn/version "1.1.1"} #{[aleph/aleph metosin/malli]}},
   :select {:mvn/version "1.1.1"}},
  io.netty/netty-resolver-dns
  {:versions
   {{:mvn/version "4.1.111.Final"}
    {:mvn/version "4.1.111.Final", :deps/manifest :mvn}},
   :paths {{:mvn/version "4.1.111.Final"} #{[aleph/aleph]}},
   :select {:mvn/version "4.1.111.Final"}}},
 :exclusions
 {[aleph/aleph org.clojure/tools.logging] #{org.clojure/clojure},
  [aleph/aleph manifold/manifold] #{org.clojure/tools.logging},
  [aleph/aleph metosin/malli] #{org.clojure/clojure}}}
