{:name "quanta-studio-dev"
 ; run-time
 :cljs-routes {"quanta/dev"
               {"" quanta.studio.dev.page.core/dev-page
                "/color" quanta.studio.dev.page.color/color-page
                "/date" quanta.studio.dev.page.date/page
                "/layout1" quanta.studio.dev.page.layout/page-layout-1
                "/layout2" quanta.studio.dev.page.layout/page-layout-2
                "/assetpicker" quanta.studio.dev.page.assetpicker/assetpicker-page
                "/viewer/" {"highstock" quanta.studio.dev.page.viewer.highchart/highstock-page
                            "highchart" quanta.studio.dev.page.viewer.highchart/highchart-page
                            "vega" quanta.studio.dev.page.viewer.vega/page
                            "rtable" quanta.studio.dev.page.viewer.rtable/page
                            "backtest" quanta.studio.dev.page.viewer.backtest/page
                            "cheetah" quanta.studio.dev.page.viewer.cheetah/page
                            "vegads" quanta.studio.dev.page.viewer.vegads/pages}}}}