{:paths ["src"
         ".data" ; so we can load preloads
         ]
 :deps
 {io.github.clojure-quant/quanta-studio {:local/root ".." :deps/manifest :deps}
  io.github.clojure-quant/studio-dev-plot {:local/root "../dev-plot" :deps/manifest :deps}
  ;io.github.clojure-quant/algo-demo {:local/root "../../algo-demo" :deps/manifest :deps}
  io.github.clojure-quant/algo-demo {:git/url "https://github.com/clojure-quant/algo-demo.git"
                                       :sha "e2cbd77c62312f055be065529f782e9667e3ac46"}
  ;io.github.clojure-quant/algo-astro {:local/root "../../algo-astro" :deps/manifest :deps}
  io.github.clojure-quant/algo-astro {:git/url "https://github.com/clojure-quant/algo-astro.git"
                                     :sha "699cc5afbc04b2aa1cd3bee10684106fa1ded238"}}
 :aliases
 {:quanta-backtest {; usecase: clj -X:quanta:backtest
                    :exec-fn modular.system/start!
                    :exec-args {:profile "jetty"
                                :config ["quanta/studio/config/docy.edn"
                                         "config-shared.edn"
                                         "config-backtest.edn"]
                                :services "services-backtest.edn"}}

  :preload {:exec-fn modular.system/start!
            :exec-args {:profile "jetty"
                        :run dev.preload/start
                        :config ["config-shared.edn"
                                 "config-backtest.edn"]
                        :services "services-backtest.edn"}}

;
  }}