{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  aleph/aleph {:mvn/version "0.7.1"} ; websocket client steam bybit
  manifold/manifold {:mvn/version "0.4.2"} ; async channels
  org.pinkgorilla/modular {:mvn/version "0.2.56"}
  io.github.clojure-quant/fix-engine {:git/sha "d25efeefd2db73dee622e826ae86248f74f38273"}
  ta/calendar {:local/root "../calendar" :deps/manifest :deps}
  ta/model {:local/root "../engine" :deps/manifest :deps}
  ta/db {:local/root "../db" :deps/manifest :deps}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
