{:name "quanta-asset-db"
 ; run-time
 :clj-services {:name "ta-db-asset-bars"
                :permission  nil ; #{}
                :symbols [ta.db.asset.db/search
                          ta.db.bars.sources/get-bars-source
                          ]}
 :cljs-routes {"series" ta.viz.page.series/series-page}
 }