{:name "quanta-viz"
 :clj-services {:name "quanta-viz-services"
                :permission  #{}
                :symbols [ta.viz.publish/topic-keys
                          ta.viz.publish/get-topic]}
 :cljs-routes {"publish" ta.viz.page.publish/publish-page}
 :sci-cljs-ns [ta.viz.renderfn
               ta.viz.renderfn.demo
               ta.viz.renderfn.rtable
               ta.viz.renderfn.highstock
               ta.viz.renderfn.vega
               ta.viz.renderfn.error
               ta.viz.lib.layout
               ta.viz.lib.ui
               ta.viz.lib.loader
               ta.viz.lib.column
               ta.viz.lib.format
               ta.viz.lib.resolve
               ta.viz.lib.format-number
               ta.viz.lib.format-date
               ]}