{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  com.rpl/specter {:mvn/version "1.1.4"}
  com.taoensso/telemere {:mvn/version "1.0.0-beta25"}
  io.github.clojure-quant/quanta {:mvn/version "0.4.858"}
  io.github.clojure-quant/quanta-market {:mvn/version "0.1.109"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

}}
