{:name "quanta-studio"
 ; run-time
 :sci-cljs-ns [quanta.studio.page.main
               quanta.studio.view.state
               quanta.studio.view.options
               quanta.studio.view.live-result
               quanta.studio.page.algo
               ; reval
               quanta.studio.reval.text]
 :cljs-routes {"quanta" quanta.studio.page.main/main-page
               "quanta/" {"algo" quanta.studio.page.algo/algo-page
                          ["algo/" :task-id] quanta.studio.page.algo/algo-task-page
                          "tasks" quanta.studio.page.tasks/tasks-page}}}