{:paths ["src"
         "resources" ; extension data
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  cider/orchard {:mvn/version "0.26.1"}
  org.pinkgorilla/extension {:mvn/version "0.0.12"}
  org.pinkgorilla/clj-service {:mvn/version "0.3.20"}}
 :aliases
 {
 
 }
;
}
