{:paths ["src"
         "resources" ; extension data
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  nano-id/nano-id {:mvn/version "1.1.0"}
  org.pinkgorilla/extension {:mvn/version "0.0.12"}
  org.pinkgorilla/clj-service {:mvn/version "0.3.20"}
  babashka/fs {:mvn/version "0.5.22"}
  org.pinkgorilla/timbre {:mvn/version "0.0.7"}
  com.taoensso/telemere {:mvn/version "1.0.0-beta25"}
  io.github.clojure-quant/telegram {:mvn/version "0.2.22"}
  io.github.clojure-quant/quanta {:mvn/version "0.4.866"}
  ta/viz {:local/root "../viz" :deps/manifest :deps}
  ;io.github.clojure-quant/quanta-asset-db {:local/root "./asset-db" :deps/manifest :deps}
  ;io.github.clojure-quant/quanta-bar-warehouse {:local/root "./bar-warehouse" :deps/manifest :deps}
  ;io.github.clojure-quant/quanta-dag-algo {:local/root "./algo" :deps/manifest :deps}

 
  }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
