{:paths ["src"
         "resources" ; extension data
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  nano-id/nano-id {:mvn/version "1.1.0"}
  org.pinkgorilla/extension {:mvn/version "0.0.12"}
  org.pinkgorilla/clj-service {:mvn/version "0.3.18"}
  ta/calendar {:local/root "../calendar" :deps/manifest :deps}
  ta/model {:local/root "../engine" :deps/manifest :deps}
  ta/db {:local/root "../db" :deps/manifest :deps}
  ta/viz {:local/root "../viz" :deps/manifest :deps}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
